@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.col-same-height{
  min-height: 300px;
} 


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#content{
  padding: 10px 0px;
  width: 100%;
}

#img-profil{
  width: 40%;
  border-radius: 30px;
}

#sidebar {
  min-width: 55px;
  max-width: 55px;
  min-height: 100vh;

  background: #efeded;
  color: #7386D5;
  transition: all 0.3s;

  width: 55px;
  top: 0;
  left: 0;
  /* height: 100vh; */
  
  overflow:hidden;
}

#sidebar:hover {
  width:150px;
  max-width: 150px;
}

#sidebar:hover .nav-text{
  display:table-cell;
  vertical-align:middle;
}
#sidebar:hover li a{
  width:136px;
}

#sidebar li>a {
  position:relative;
  width:55px;
  display:table;
  border-collapse:unset;
  border-spacing:0;
  color:#8a8a8a;
  font-size: 13px;
  text-decoration:none;
  font-family: 'Strait', sans-serif;
  
  text-shadow: 1px 1px 1px  #fff;  
  }
  
  

#sidebar .nav-text  {
  display: none;
  font-size: .8em;
  font-weight: 300;
}

#sidebar .fa {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 36px;
  text-align: center;
  top:12px; 
  font-size:20px;
}


#sidebar.active {
  margin-left: -55px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  position: fixed;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #FF7F4F;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -55px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebar:hover li a {
    width: 115px;
}
}